body {
  background-color: black;
  color: white;
  font-family: "Rock Salt", cursive;
  font-size: 5vw;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.page-header {
  text-align: center;
  font-size: 8vw;
  padding: 4vh 1vw;
}

.picture-frame {
  display: flex;
  justify-content: center;
  padding: 2vh 1vw;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, gold 75%);
}

.profile-picture {
  width: 80vw;
  height: 80vh;
}

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8vw;
}

.track-and-name {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
}

.track {
  width: 80vw;
}

.form-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.form-header {
  font-size: 4.5vw;
  text-align: center;
  padding: 5vh;
  color: black;
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 5vw;
  gap: 2vh;
}

.name-field,
.email-field,
.subject-field {
  height: 8vh;
  font-size: 3vw;
}

.message-field {
  height: 14vh;
  font-size: 3vw;
}

.send-button {
  height: 8vh;
  font-size: 2vw;
}

.social-media-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  gap: 1vw;
}

.distro-kid {
  height: 2.6em;
  border-radius: 5px;
}
